 
/* start css.sty */
.ec-lmss-10{ font-family: sans-serif;}
.ec-lmss-10{ font-family: sans-serif;}
.ec-lmss-10{ font-family: sans-serif;}
.ec-lmss-10{ font-family: sans-serif;}
.ec-lmss-10{ font-family: sans-serif;}
.ec-lmss-12{font-size:120%; font-family: sans-serif;}
.ec-lmss-12{ font-family: sans-serif;}
.ec-lmss-12{ font-family: sans-serif;}
.ec-lmss-12{ font-family: sans-serif;}
.ec-lmss-12{ font-family: sans-serif;}
.ec-lmss-17{font-size:170%; font-family: sans-serif;}
.ec-lmss-17{ font-family: sans-serif;}
.ec-lmss-17{ font-family: sans-serif;}
.ec-lmss-17{ font-family: sans-serif;}
.ec-lmss-17{ font-family: sans-serif;}
.ec-lmsso-12{font-size:120%; font-family: sans-serif; font-style: oblique;}
.ec-lmsso-12{ font-family: sans-serif; font-style: oblique;}
.ec-lmsso-12{ font-family: sans-serif; font-style: oblique;}
.ec-lmsso-12{ font-family: sans-serif; font-style: oblique;}
.ec-lmsso-12{ font-family: sans-serif; font-style: oblique;}
.ec-lmsso-10{ font-family: sans-serif; font-style: oblique;}
.ec-lmsso-10{ font-family: sans-serif; font-style: oblique;}
.ec-lmsso-10{ font-family: sans-serif; font-style: oblique;}
.ec-lmsso-10{ font-family: sans-serif; font-style: oblique;}
.ec-lmsso-10{ font-family: sans-serif; font-style: oblique;}
p{margin-top:0;margin-bottom:0}
p.indent{text-indent:0;}
p + p{margin-top:1em;}
p + div, p + pre {margin-top:1em;}
div + p, pre + p {margin-top:1em;}
a { overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; hyphens: auto; }
@media print {div.crosslinks {visibility:hidden;}}
table.tabular{border-collapse: collapse; border-spacing: 0;}
a img { border-top: 0; border-left: 0; border-right: 0; }
center { margin-top:1em; margin-bottom:1em; }
td center { margin-top:0em; margin-bottom:0em; }
.Canvas { position:relative; }
img.math{vertical-align:middle;}
div.par-math-display, div.math-display{text-align:center;}
li p.indent { text-indent: 0em }
li p:first-child{ margin-top:0em; }
li p:last-child, li div:last-child { margin-bottom:0.5em; }
li p:first-child{ margin-bottom:0; }
li p~ul:last-child, li p~ol:last-child{ margin-bottom:0.5em; }
.enumerate1 {list-style-type:decimal;}
.enumerate2 {list-style-type:lower-alpha;}
.enumerate3 {list-style-type:lower-roman;}
.enumerate4 {list-style-type:upper-alpha;}
div.newtheorem { margin-bottom: 2em; margin-top: 2em;}
div.newtheorem .head{font-weight: bold;}
.obeylines-h,.obeylines-v {white-space: nowrap; }
div.obeylines-v p { margin-top:0; margin-bottom:0; }
.overline{ text-decoration:overline; }
.overline img{ border-top: 1px solid black; }
td.displaylines {text-align:center; white-space:nowrap;}
.centerline {text-align:center;}
.rightline {text-align:right;}
pre.verbatim {font-family: monospace,monospace; text-align:left; clear:both; }
.fbox {padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
div.fbox {display:table}
div.center div.fbox {text-align:center; clear:both; padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
div.minipage{width:100%;}
div.center, div.center div.center {text-align: center; margin-left:1em; margin-right:1em;}
div.center div {text-align: left;}
div.flushright, div.flushright div.flushright {text-align: right;}
div.flushright div {text-align: left;}
div.flushleft {text-align: left;}
.underline{ text-decoration:underline; }
.underline img{ border-bottom: 1px solid black; margin-bottom:1pt; }
.framebox-c, .framebox-l, .framebox-r { padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
.framebox-c {text-align:center;}
.framebox-l {text-align:left;}
.framebox-r {text-align:right;}
span.thank-mark{ vertical-align: super }
span.footnote-mark sup.textsuperscript, span.footnote-mark a sup.textsuperscript{ font-size:80%; }
div.tabular, div.center div.tabular {text-align: center; margin-top:0.5em; margin-bottom:0.5em; }
table.tabular td p{margin-top:0em;}
table.tabular {margin-left: auto; margin-right: auto;}
td p:first-child{ margin-top:0em; }
td p:last-child{ margin-bottom:0em; }
div.td00{ margin-left:0pt; margin-right:0pt; }
div.td01{ margin-left:0pt; margin-right:5pt; }
div.td10{ margin-left:5pt; margin-right:0pt; }
div.td11{ margin-left:5pt; margin-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
td.td00{ padding-left:0pt; padding-right:0pt; }
td.td01{ padding-left:0pt; padding-right:5pt; }
td.td10{ padding-left:5pt; padding-right:0pt; }
td.td11{ padding-left:5pt; padding-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
.hline hr, .cline hr{ height : 0px; margin:0px; }
.hline td, .cline td{ padding: 0; }
.hline hr, .cline hr{border:none;border-top:1px solid black;}
.hline {border-top: 1px solid black;}
.hline + .vspace:last-child{display:none;}
.hline:first-child{border-bottom:1px solid black;border-top:none;}
.tabbing-right {text-align:right;}
div.float, div.figure {margin-left: auto; margin-right: auto;}
div.float img {text-align:center;}
div.figure img {text-align:center;}
.marginpar,.reversemarginpar {width:20%; float:right; text-align:left; margin-left:auto; margin-top:0.5em; font-size:85%; text-decoration:underline;}
.marginpar p,.reversemarginpar p{margin-top:0.4em; margin-bottom:0.4em;}
.reversemarginpar{float:left;}
table.equation {width:100%;}
.equation td{text-align:center; }
td.equation { margin-top:1em; margin-bottom:1em; } 
td.equation-label { width:5%; text-align:center; }
td.eqnarray4 { width:5%; white-space: normal; }
td.eqnarray2 { width:5%; }
table.eqnarray-star, table.eqnarray {width:100%;}
div.eqnarray{text-align:center;}
div.array {text-align:center;}
div.pmatrix {text-align:center;}
table.pmatrix {width:100%;}
span.pmatrix img{vertical-align:middle;}
div.pmatrix {text-align:center;}
table.pmatrix {width:100%;}
span.bar-css {text-decoration:overline;}
img.cdots{vertical-align:middle;}
.partToc a, .partToc, .likepartToc a, .likepartToc {line-height: 200%; font-weight:bold; font-size:110%;}
.chapterToc a, .chapterToc, .likechapterToc a, .likechapterToc, .appendixToc a, .appendixToc {line-height: 200%; font-weight:bold;}
.index-item, .index-subitem, .index-subsubitem {display:block}
div.caption {text-indent:-2em; margin-left:3em; margin-right:1em; text-align:left;}
div.caption span.id{font-weight: bold; white-space: nowrap; }
h1.partHead{text-align: center}
p.bibitem { text-indent: -2em; margin-left: 2em; margin-top:0.6em; margin-bottom:0.6em; }
p.bibitem-p { text-indent: 0em; margin-left: 2em; margin-top:0.6em; margin-bottom:0.6em; }
.subsubsectionHead, .likesubsubsectionHead { font-size: 1em; }
.paragraphHead, .likeparagraphHead { margin-top:2em; font-weight: bold;}
.subparagraphHead, .likesubparagraphHead { font-weight: bold;}
.verse{white-space:nowrap; margin-left:2em}
div.maketitle {text-align:center;}
h2.titleHead{text-align:center;}
div.maketitle{ margin-bottom: 2em; }
div.author, div.date {text-align:center;}
div.thanks{text-align:left; margin-left:10%; font-size:85%; font-style:italic; }
div.author{white-space: nowrap;}
h1.partHead{text-align: center}
div.abstract p {margin-left:5%; margin-right:5%;}
div.abstract {width:100%;}
.abstracttitle{text-align:center;margin-bottom:1em;}
 .chapterToc, .likechapterToc {margin-left:0em;}
 .likesectionToc, .sectionToc {margin-left:1em;}
 .likesubsectionToc, .subsectionToc {margin-left:2em;}
 .likesubsectionToc, .subsectionToc {margin-left:2em;}
 .likesubsubsectionToc, .subsubsectionToc {margin-left:3em;}
.paragraphToc, .likeparagraphToc {margin-left:4em;}
.subparagraphToc, .likesubparagraphToc {margin-left:5em;}
.equation td{text-align:center; }
.equation-star td{text-align:center; }
table.equation-star { width:100%; }
table.equation { width:100%; }
table.align, table.alignat, table.xalignat, table.xxalignat, table.flalign {width:95%; margin-left:5%; white-space: nowrap;}
table.align-star, table.alignat-star, table.xalignat-star, table.flalign-star {margin-left:auto; margin-right:auto; white-space: nowrap;}
td.align-label { width:5%; text-align:center; }
td.align-odd { text-align:right; padding-right:0.3em;}
td.align-even { text-align:left; padding-right:0.6em;}
table.multline, table.multline-star {width:100%;}
td.gather {text-align:center; }
table.gather {width:100%;}
div.gather-star {text-align:center;}
.rotatebox{display: inline-block;}
div.verbatiminput {font-family: monospace,monospace; white-space: nowrap; }
div.tabular, div.center div.tabular {text-align: center; margin-top:0.5em; margin-bottom:0.5em; }
table.tabular td p{margin-top:0em;}
table.tabular {margin-left: auto; margin-right: auto;}
td p:first-child{ margin-top:0em; }
td p:last-child{ margin-bottom:0em; }
div.td00{ margin-left:0pt; margin-right:0pt; }
div.td01{ margin-left:0pt; margin-right:5pt; }
div.td10{ margin-left:5pt; margin-right:0pt; }
div.td11{ margin-left:5pt; margin-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
td.td00{ padding-left:0pt; padding-right:0pt; }
td.td01{ padding-left:0pt; padding-right:5pt; }
td.td10{ padding-left:5pt; padding-right:0pt; }
td.td11{ padding-left:5pt; padding-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
.hline hr, .cline hr{ height : 0px; margin:0px; }
.hline td, .cline td{ padding: 0; }
.hline hr, .cline hr{border:none;border-top:1px solid black;}
.hline {border-top: 1px solid black;}
.hline + .vspace:last-child{display:none;}
.hline:first-child{border-bottom:1px solid black;border-top:none;}
div.array {text-align:center;}
.uline,.uline-math{ text-decoration:underline; }
.uuline,.uuline-math{ text-decoration:underline double; }
span.sout, .sout-math {text-decoration: line-through }
span.xout, .xout-math {text-decoration: line-through underline }
span.uwave, .uwave-math {text-decoration:underline wavy; }
span.dashuline, .dashuline-math {text-decoration:underline dashed;}
span.dotuline, .dotuline-math {text-decoration:underline dotted;}
dl.enumerate-enumitem{display:grid; grid-template-columns: 3ch 1fr; align-items: top; row-gap:1ch;}
.mdframed{margin-top:1em;margin-bottom:1em;}
span.textso{letter-spacing: 0.3em; word-spacing: 0.3em}
span.textul{text-decoration:underline}
span.textst{text-decoration:line-through}
span.textcaps{font-variant:small-caps}
span#textcolor1{background-color:rgb(255,255,0)}
span#textcolor2{background-color:}
span#textcolor2{background-color:rgb(255,255,0)}
span#textcolor3{background-color:}
span#textcolor3{background-color:rgb(255,255,0)}
span#textcolor4{background-color:}
span#textcolor4{background-color:rgb(255,255,0)}
span#textcolor5{background-color:}
span#textcolor5{background-color:rgb(255,255,0)}
span#textcolor6{background-color:}
span#textcolor6{background-color:rgb(255,255,0)}
span#textcolor7{background-color:}
span#textcolor7{background-color:rgb(255,255,0)}
span#textcolor8{background-color:}
span#textcolor8{background-color:rgb(255,255,0)}
span#textcolor9{background-color:}
span#textcolor9{background-color:rgb(255,255,0)}
span#textcolor10{background-color:}
span#textcolor10{background-color:rgb(255,255,0)}
span#textcolor11{background-color:}
span#textcolor11{background-color:rgb(255,255,0)}
span#textcolor12{background-color:}
span#textcolor12{background-color:rgb(255,255,0)}
span#textcolor13{background-color:}
span#textcolor13{background-color:rgb(255,255,0)}
span#textcolor14{background-color:}
span#textcolor14{background-color:rgb(255,255,0)}
span#textcolor15{background-color:}
span#textcolor15{background-color:rgb(255,255,0)}
span#textcolor16{background-color:}
span#textcolor16{background-color:rgb(255,255,0)}
span#textcolor17{background-color:}
span#textcolor17{background-color:rgb(255,255,0)}
span#textcolor18{background-color:}
span#textcolor18{background-color:rgb(255,255,0)}
span#textcolor19{background-color:}
span#textcolor19{background-color:rgb(255,255,0)}
span#textcolor20{background-color:}
span#textcolor20{background-color:rgb(255,255,0)}
span#textcolor21{background-color:}
span#textcolor21{background-color:rgb(255,255,0)}
span#textcolor22{background-color:}
span#textcolor22{background-color:rgb(255,255,0)}
span#textcolor23{background-color:}
span#textcolor23{background-color:rgb(255,255,0)}
span#textcolor24{background-color:}
span#textcolor24{background-color:rgb(255,255,0)}
span#textcolor25{background-color:}
span#textcolor25{background-color:rgb(255,255,0)}
span#textcolor26{background-color:}
span#textcolor26{background-color:rgb(255,255,0)}
span#textcolor27{background-color:}
span#textcolor27{background-color:rgb(255,255,0)}
span#textcolor28{background-color:}
span#textcolor28{background-color:rgb(255,255,0)}
span#textcolor29{background-color:}
span#textcolor29{background-color:rgb(255,255,0)}
span#textcolor30{background-color:}
span#textcolor30{background-color:rgb(255,255,0)}
span#textcolor31{background-color:}
span#textcolor31{background-color:rgb(255,255,0)}
span#textcolor32{background-color:}
span#textcolor32{background-color:rgb(255,255,0)}
span#textcolor33{background-color:}
span#textcolor33{background-color:rgb(255,255,0)}
span#textcolor34{background-color:}
span#textcolor34{background-color:rgb(255,255,0)}
span#textcolor35{background-color:}
span#textcolor35{background-color:rgb(255,255,0)}
span#textcolor36{background-color:}
span#textcolor36{background-color:rgb(255,255,0)}
span#textcolor37{background-color:}
span#textcolor37{background-color:rgb(255,255,0)}
span#textcolor38{background-color:}
span#textcolor38{background-color:rgb(255,255,0)}
span#textcolor39{background-color:}
span#textcolor39{background-color:rgb(255,255,0)}
span#textcolor40{background-color:}
span#textcolor40{background-color:rgb(255,255,0)}
span#textcolor41{background-color:}
span#textcolor41{background-color:rgb(255,255,0)}
span#textcolor42{background-color:}
span#textcolor42{background-color:rgb(255,255,0)}
span#textcolor43{background-color:}
span#textcolor43{background-color:rgb(255,255,0)}
span#textcolor44{background-color:}
span#textcolor44{background-color:rgb(255,255,0)}
span#textcolor45{background-color:}
span#textcolor45{background-color:rgb(255,255,0)}
span#textcolor46{background-color:}
span#textcolor46{background-color:rgb(255,255,0)}
span#textcolor47{background-color:}
span#textcolor47{background-color:rgb(255,255,0)}
span#textcolor48{background-color:}
span#textcolor48{background-color:rgb(255,255,0)}
span#textcolor49{background-color:}
span#textcolor49{background-color:rgb(255,255,0)}
span#textcolor50{background-color:}
span#textcolor50{background-color:rgb(255,255,0)}
span#textcolor51{background-color:}
span#textcolor51{background-color:rgb(255,255,0)}
span#textcolor52{background-color:}
span#textcolor52{background-color:rgb(255,255,0)}
span#textcolor53{background-color:}
span#textcolor53{background-color:rgb(255,255,0)}
span#textcolor54{background-color:}
span#textcolor54{background-color:rgb(255,255,0)}
span#textcolor55{background-color:}
span#textcolor55{background-color:rgb(255,255,0)}
span#textcolor56{background-color:}
span#textcolor56{background-color:rgb(255,255,0)}
span#textcolor57{background-color:}
span#textcolor57{background-color:rgb(255,255,0)}
span#textcolor58{background-color:}
span#textcolor58{background-color:rgb(255,255,0)}
span#textcolor59{background-color:}
span#textcolor59{background-color:rgb(255,255,0)}
span#textcolor60{background-color:}
span#textcolor60{background-color:rgb(255,255,0)}
span#textcolor61{background-color:}
span#textcolor61{background-color:rgb(255,255,0)}
span#textcolor62{background-color:}
span#textcolor62{background-color:rgb(255,255,0)}
span#textcolor63{background-color:}
span#textcolor63{background-color:rgb(255,255,0)}
span#textcolor64{background-color:}
span#textcolor64{background-color:rgb(255,255,0)}
span#textcolor65{background-color:}
span#textcolor65{background-color:rgb(255,255,0)}
span#textcolor66{background-color:}
span#textcolor66{background-color:rgb(255,255,0)}
span#textcolor67{background-color:}
span#textcolor67{background-color:rgb(255,255,0)}
span#textcolor68{background-color:}
span#textcolor68{background-color:rgb(255,255,0)}
span#textcolor69{background-color:}
span#textcolor69{background-color:rgb(255,255,0)}
span#textcolor70{background-color:}
span#textcolor70{background-color:rgb(255,255,0)}
span#textcolor71{background-color:}
span#textcolor71{background-color:rgb(255,255,0)}
span#textcolor72{background-color:}
span#textcolor72{background-color:rgb(255,255,0)}
span#textcolor73{background-color:}
span#textcolor73{background-color:rgb(255,255,0)}
span#textcolor74{background-color:}
span#textcolor74{background-color:rgb(255,255,0)}
span#textcolor75{background-color:}
span#textcolor75{background-color:rgb(255,255,0)}
span#textcolor76{background-color:}
span#textcolor76{background-color:rgb(255,255,0)}
span#textcolor77{background-color:}
span#textcolor77{background-color:rgb(255,255,0)}
span#textcolor78{background-color:}
span#textcolor78{background-color:rgb(255,255,0)}
span#textcolor79{background-color:}
span#textcolor79{background-color:rgb(255,255,0)}
span#textcolor80{background-color:}
span#textcolor80{background-color:rgb(255,255,0)}
span#textcolor81{background-color:}
span#textcolor81{background-color:rgb(255,255,0)}
span#textcolor82{background-color:}
span#textcolor82{background-color:rgb(255,255,0)}
span#textcolor83{background-color:}
span#textcolor83{background-color:rgb(255,255,0)}
span#textcolor84{background-color:}
span#textcolor84{background-color:rgb(255,255,0)}
span#textcolor85{background-color:}
span#textcolor85{background-color:rgb(255,255,0)}
span#textcolor86{background-color:}
span#textcolor86{background-color:rgb(255,255,0)}
span#textcolor87{background-color:}
span#textcolor87{background-color:rgb(255,255,0)}
span#textcolor88{background-color:}
span#textcolor88{background-color:rgb(255,255,0)}
span#textcolor89{background-color:}
span#textcolor89{background-color:rgb(255,255,0)}
span#textcolor90{background-color:}
span#textcolor90{background-color:rgb(255,255,0)}
span#textcolor91{background-color:}
span#textcolor91{background-color:rgb(255,255,0)}
span#textcolor92{background-color:}
span#textcolor92{background-color:rgb(255,255,0)}
span#textcolor93{background-color:}
span#textcolor93{background-color:rgb(255,255,0)}
span#textcolor94{background-color:}
span#textcolor94{background-color:rgb(255,255,0)}
span#textcolor95{background-color:}
span#textcolor95{background-color:rgb(255,255,0)}
span#textcolor96{background-color:}
span#textcolor96{background-color:rgb(255,255,0)}
span#textcolor97{background-color:}
span#textcolor97{background-color:rgb(255,255,0)}
span#textcolor98{background-color:}
span#textcolor98{background-color:rgb(255,255,0)}
span#textcolor99{background-color:}
span#textcolor99{background-color:rgb(255,255,0)}
span#textcolor100{background-color:}
span#textcolor100{background-color:rgb(255,255,0)}
span#textcolor101{background-color:}
span#textcolor101{background-color:rgb(255,255,0)}
span#textcolor102{background-color:}
span#textcolor102{background-color:rgb(255,255,0)}
span#textcolor103{background-color:}
span#textcolor103{background-color:rgb(255,255,0)}
span#textcolor104{background-color:}
span#textcolor104{background-color:rgb(255,255,0)}
span#textcolor105{background-color:}
span#textcolor105{background-color:rgb(255,255,0)}
span#textcolor106{background-color:}
span#textcolor106{background-color:rgb(255,255,0)}
span#textcolor107{background-color:}
span#textcolor107{background-color:rgb(255,255,0)}
span#textcolor108{background-color:}
span#textcolor108{background-color:rgb(255,255,0)}
span#textcolor109{background-color:}
span#textcolor109{background-color:rgb(255,255,0)}
span#textcolor110{background-color:}
span#textcolor110{background-color:rgb(255,255,0)}
span#textcolor111{background-color:}
span#textcolor111{background-color:rgb(255,255,0)}
span#textcolor112{background-color:}
span#textcolor112{background-color:rgb(255,255,0)}
span#textcolor113{background-color:}
span#textcolor113{background-color:rgb(255,255,0)}
span#textcolor114{background-color:}
span#textcolor114{background-color:rgb(255,255,0)}
span#textcolor115{background-color:}
span#textcolor115{background-color:rgb(255,255,0)}
span#textcolor116{background-color:}
span#textcolor116{background-color:rgb(255,255,0)}
span#textcolor117{background-color:}
span#textcolor117{background-color:rgb(255,255,0)}
span#textcolor118{background-color:}
span#textcolor118{background-color:rgb(255,255,0)}
span#textcolor119{background-color:}
span#textcolor119{background-color:rgb(255,255,0)}
span#textcolor120{background-color:}
span#textcolor120{background-color:rgb(255,255,0)}
span#textcolor121{background-color:}
span#textcolor121{background-color:rgb(255,255,0)}
span#textcolor122{background-color:}
span#textcolor122{background-color:rgb(255,255,0)}
span#textcolor123{background-color:}
span#textcolor123{background-color:rgb(255,255,0)}
span#textcolor124{background-color:}
span#textcolor124{background-color:rgb(255,255,0)}
span#textcolor125{background-color:}
span#textcolor125{background-color:rgb(255,255,0)}
span#textcolor126{background-color:}
span#textcolor126{background-color:rgb(255,255,0)}
span#textcolor127{background-color:}
span#textcolor127{background-color:rgb(255,255,0)}
span#textcolor128{background-color:}
span#textcolor128{background-color:rgb(255,255,0)}
span#textcolor129{background-color:}
span#textcolor129{background-color:rgb(255,255,0)}
span#textcolor130{background-color:}
span#textcolor130{background-color:rgb(255,255,0)}
span#textcolor131{background-color:}
span#textcolor131{background-color:rgb(255,255,0)}
span#textcolor132{background-color:}
span#textcolor132{background-color:rgb(255,255,0)}
span#textcolor133{background-color:}
span#textcolor133{background-color:rgb(255,255,0)}
span#textcolor134{background-color:}
span#textcolor134{background-color:rgb(255,255,0)}
span#textcolor135{background-color:}
span#textcolor135{background-color:rgb(255,255,0)}
span#textcolor136{background-color:}
span#textcolor136{background-color:rgb(255,255,0)}
span#textcolor137{background-color:}
span#textcolor137{background-color:rgb(255,255,0)}
span#textcolor138{background-color:}
span#textcolor138{background-color:rgb(255,255,0)}
span#textcolor139{background-color:}
span#textcolor139{background-color:rgb(255,255,0)}
span#textcolor140{background-color:}
span#textcolor140{background-color:rgb(255,255,0)}
span#textcolor141{background-color:}
span#textcolor141{background-color:rgb(255,255,0)}
span#textcolor142{background-color:}
span#textcolor142{background-color:rgb(255,255,0)}
span#textcolor143{background-color:}
span#textcolor143{background-color:rgb(255,255,0)}
span#textcolor144{background-color:}
span#textcolor144{background-color:rgb(255,255,0)}
span#textcolor145{background-color:}
span#textcolor145{background-color:rgb(255,255,0)}
span#textcolor146{background-color:}
span#textcolor146{background-color:rgb(255,255,0)}
span#textcolor147{background-color:}
span#textcolor147{background-color:rgb(255,255,0)}
span#textcolor148{background-color:}
span#textcolor148{background-color:rgb(255,255,0)}
span#textcolor149{background-color:}
span#textcolor149{background-color:rgb(255,255,0)}
span#textcolor150{background-color:}
span#textcolor150{background-color:rgb(255,255,0)}
span#textcolor151{background-color:}
span#textcolor151{background-color:rgb(255,255,0)}
/* end css.sty */

